{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}">

	<script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "קולנועית",
      "url" : "https://filmsnear.com/"
    }
	</script>
{% endblock %}
{% block content %}
	<div id="header">
		<h1 id="main-header">קולנועית</h1>
		<h2 id="second-header">כל הסרטים מכל בתי הקולנוע בתל אביב!</h2>
	</div>

	<div id="view_menu">
		<div data-view-id="by_date_view" class="selected">לפי תאריך</div>
		<div data-view-id="by_film_view">לפי סרט</div>
	</div>

	<div id="by_date_view" class="view selected">
		<div id="date-search-form">
			<!--<input type="text" id="town_input" placeholder="עיר" value="Tel Aviv" disabled /> <br>-->
				<label for="date_input">בחר תאריך:</label>
				<input type="date" id="date_input" min="{{ min_date }}" max="{{ max_date }}" value="{{ min_date }}"/>
				<button class="button" id="search-filters-toggle-button">הצג אפשרויות סינון</button>
			<div id="search-filters">
				<div id="cinema-filters">
					<h2>בתי קולנוע</h2>
					{% for cinema in cinemas %}
						<input checked data-cinema="{{ cinema.NAME }}" type="checkbox"/>
						<label>{{ cinema.TRANSLATED_NAMES["heb"] }}</label>
						<br>
					{% endfor %}
				</div>	
			</div>
			<br>
			<button class="search-button button" id="search_button">מצא סרטים</button>
		</div>

		<div id="films"></div>
	</div>

	<div id="by_film_view" class="view">
		<div id="film-search-form">
			<input type="text" id="film_search_input" placeholder="חפש סרט"/>
			<div id="film_autocomplete_container"></div>
			<div id="film-view-button-box">
				<button class="search-button button"><i class="fa-solid fa-magnifying-glass"></i></button>
			</div>
		</div>
		<div style="height: 2000px;"></div> <!-- TODO: This is a weird hack, try to solve it in some other way -->
	</div>
{% endblock %}
{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
	<script src="{{ url_for("static", filename="javascript/index.js") }}"></script>
{% endblock %}
