body {
	--background-color: #f3f3f3;
	background-color: var(--background-color);
}

* {
	font-family: 'Heebo', sans-serif;
}

.card {
	padding: 1.5rem 0;
	background-color: #fafafa;
	color: black;
	width: 100%;
	margin: 1rem auto;
	transition: 0.20s all;
	padding-bottom: 0;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 0 3px 3px #eee;
}

.film-cinema-tag {
	display: inline-block;
	padding: 0.2rem 0.65rem;
	background-color: lightblue;
	border-radius: 8px;
	margin: 0 0.1rem;
	font-weight: 600;
}

.cinema-tag-jaffa {
	background-color: #8eb1fe;
}

.cinema-tag-lev {
	background-color: #f1f5a0;
}

.cinema-tag-ravhen {
	background-color: #f56363;
}

.cinema-tag-cinematheque {
	background-color: #f799ee;
}

.cinema-tag-radical {
	background-color: #109ba9;
	color: #fafafa;
}

.cinema-tag-tlvmuseum {
	background-color: #3c3c3b;
	color: #fcfcfc;
}

.cinema-tag-limbo {
	background-color: #af25c8;
	color: #fafafa;
}

.cinema-tag-jaffahill {
	background-color: #cce2e3;
}

.button {
	display: inline;
	border: none;
	cursor: pointer;
	background-color: #89f9fe;
	border-radius: 10px;
	font-weight: 400;
	font-size: 1rem;
	padding: 0.2rem 1rem;
	text-decoration: none;
	color: black;
}

.button:hover {
	background-color: #86f2f7;
}

.limbo-comment {
	color: #666;
	font-weight: 600;
	font-size: 1.1rem;
	font-style: italic;
}
