body {
	margin: 0;
}

#content {
	margin: auto;
	text-align: center;
	width: 85%;
}

#main-header {
	font-size: max(5rem, 400%);
	font-weight: 400;
	margin-bottom: 0;
}

#second-header {
	font-size: 1.7rem;
	font-weight: 200;
	margin-top: 0;
}

#header {
	margin-bottom: 4rem;
}

#date-search-form {
	width: 90%;
	margin: auto;
}

#date-search-form > label {
	font-size: 1.1rem;
	padding-left: 10px;
}

#date-search-form > input {
	width: 80%;
	/* min-width: 200px; */
	max-width: 250px;
	margin-bottom: 0.4rem;
	font-size: 1.25rem;
	padding: 4px;
}

.search-button {
	font-size: 1.5rem;
	margin-top: 1rem;
	padding: 0.5rem 2rem;
	background-color: #11afed;
	color: white;
}

.search-button:hover {
	background-color: #0ca0dd;
}

.search-button.disabled {
	background-color: #1b82ad;
	cursor: default;
}

.event-button {
	font-size: 1.5rem;
	margin-top: 1rem;
	padding: 0.5rem 2rem;
	background-color: #11afed;
	color: white;
}

.event-button:hover {
	background-color: #0ca0dd;
}

#events {
	margin: auto;
	margin-bottom: 1rem;
	max-width: 1400px;
}

.event {
	text-align: right;
}

.date-box {
	padding: 0.8rem 0;
	margin: 0.8rem 0;
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #333;
	/* background-color: white; */
}

.date-link {
	margin-left: 1.3rem;
	background-color: #6be88c;
}

.date-link:hover {
	background-color: #5bdf7f;
}

.date-box p {
	margin: auto 0;
	padding-right: 1.3rem;
	display: inline;
}

.event-top {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

.event .expand {
	text-align: center;
	font-size: 2rem;
	color: #84a8d7;
	padding-top: 1.0rem;
}

.event .event-dates {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
	padding: 0 1.5rem;
}

.event-button {
	margin: auto;
	font-size: 1.15rem;
}

.event .event-dates .button-box {
	margin: auto;
	text-align: center;
	padding: 1rem 0;
}

.mobile {
	display: none;
}

.event:hover {
	background-color: #f7f7f7;
	/*padding: 1.65rem;*/
}

.event .event-text {
	padding: 0 2rem;
}

.event-header {
	font-size: 2.5rem;
	padding-top: 0;
	margin-top: 0;
}

.event-description {
	font-size: 1.2rem;
}

.event-details p {
	display: inline;
}

.event img {
	/*min-width: 25%;
	max-height: 60%;*/
	object-fit: contain;
	min-width: 40%;
	max-width: 40%;
	max-height: 350px;
	padding-right: 1.5rem;
}

.event-venue-tag-container {
	margin: 1.5rem 0;
}

.event-venue-tag {
	display: inline-block;
	padding: 0.2rem 0.65rem;
	background-color: lightblue;
	border-radius: 8px;
	margin: 0 0.1rem;
	font-weight: 600;
}

.venue-tag-jaffa {
	background-color: #8eb1fe;
}

.venue-tag-lev {
	background-color: #f1f5a0;
}

.venue-tag-ravhen {
	background-color: #f56363;
}

.venue-tag-venuetheque {
	background-color: #f799ee;
}

.venue-tag-radical {
	background-color: #109ba9;
	color: #fafafa;
}

.venue-tag-tlvmuseum {
	background-color: #3c3c3b;
	color: #fcfcfc;
}

.venue-tag-limbo {
	background-color: #af25c8;
	color: #fafafa;
}

.venue-tag-jaffahill {
	background-color: #cce2e3;
}

#search-filters-toggle-button {
	margin-right: 1rem;
	background-color: white;
}

#search-filters-toggle-button:hover {
	background-color: #f8f8f8;
}

#search-filters {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.2s;
	text-align: right;
	width: 33%;
	margin: auto;
}

#venue-filters h2 {
	margin: 0.5rem 0;
}

#venue-filters input {
	margin: 0;
}

#venue-filters label {
	padding-right: 0.25rem;
}

#view_menu {
	display: flex;
	justify-content: cneter;
	margin: auto;
	width: 30%;
	margin-bottom: 3rem;
}

#view_menu div {
	flex-basis: 100%;
	text-align: center;
	padding: 1rem 0;
	border: 1px solid black;
	border-top: 0;
	border-right: 0;
	cursor: pointer;
	font-weight: 300;
}

#view_menu div:not(.selected):hover {
	font-weight: 400;
}

#view_menu div:last-child {
	border-left: 0;
}

#view_menu .selected {
	font-weight: 500;
}

.view.selected {
	display: block;
}

.view:not(.selected) {
	display: none;
}

#event-search-form {
	width: 90%;
	max-width: 300px;
	margin: auto;
	position: relative;
	display: inline-block;
}

#event_search_input {
	font-size: 1.5rem;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	outline: none;
	border-bottom: 1px black solid;
	background-color: var(--background-color);
	padding-right: 10px;
	padding-bottom: 5px;
	width: 75%;
}

#event_search_input:focus {
	outline: none;
	border-bottom: 2px black solid;
}

#event_autocomplete_container {
	width: 75%;
	position: absolute;
	padding-right: 10px;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

#event_autocomplete_container div {
	width: 100%;
	font-size: 1.3rem;
	padding-right: 10px;
	padding-bottom: 5px;
	background-color: white;
	text-align: right;
	border-bottom: 1px #aaa solid;
	cursor: default;
}

#event_autocomplete_container div:hover {
	background-color: #f5f5f5;
}

#event_autocomplete_container div.selected {
	background-color: #f0f0f0;
}

#event-view-button-box {
	display: inline-block;
}

#event-view-button-box button {
	font-size: 0.8rem;
	padding: 0.5rem 0.8rem;
}

#no-events {
	margin-top: 3rem;
}

@media screen and (max-width: 600px) {
	.event:not(.mobile) {
		display: none;
	}

	.event {
		display: block;
		/* text-overflow: ellipsis; */
		text-align: center;
	}

	.event img {
		min-width: 80%;
		max-height: 200px;
		padding: 0;
	}

	.mobile {
		display: block;
	}

	.event-header {
		font-size: 1.5rem;
	}

	.event-description {
		font-size: 1rem;
		text-align: right;
		width: 100%;
		/* text-overflow: ellipsis;
		overflow: hidden; */
		transition: max-height 9.35s ease-out;
	}

	#view_menu {
		width: 100%;
	}

	.event .event-dates {
		text-align: right;
		transition: max-height 0.35s ease-out;
	}

	.event .event-dates .big-button {
		font-size: 1rem;
	}

	.event .event-dates h2 {
		text-align: center;
	}

	.date-box {
		font-size: 0.9rem;
		border-color: #888;
	}

	#date_input {
		margin-top: 0.5rem;
	}

	#event_autocomplete_container {
		/*
		position: relative;
		display: inline-block;
		position: absolute;
		width: 65%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		*/
	}

	#date-search-form > label {
		padding-left: 0;
	}

	#search-filters-toggle-button {
		margin-right: 0;
		margin-top: 0.5rem;
	}

	#search-filters {
		width: 84%;
	}
}
