#content {
	margin: auto;
	max-width: 800px;
	margin-top: 3rem;
}

.film-details {
	text-align: right;
	width: 100%;
	margin: 1rem auto;
}

.film-block.split {
	display: flex;
}

.wide-image {
	display: none;
	width: 97%;
	margin: 1rem 0;
}

.tall-image {
	display: none;
	min-width: 35%;
	height: 100%;
	padding: 0 1rem;
}

.film-block img {
	width: 100%;	
}

.film-block {
	margin: 1rem auto;
	margin-bottom: 2.5rem;
	width: 93%;
}

.film-block p {
	display: inline;
}

.film-cinema-tag {
	font-size: 1.1rem;
}

.film-detail {
	margin: 0.3rem 0;
}

.film-details h1 {
	margin: 0;
	text-align: center;
	font-size: 2.75rem;
	padding-bottom: 1rem;
}

#tickets {
	margin-top: 4rem;
}

#tickets h1 {
	text-align: center;
}

.date-box {
	padding: 0.8rem 0;
	margin: 0.8rem 0;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
}

.date-box p {
	margin: auto 0;
	padding-right: 1.3rem;
	display: inline;
}

.mobile {
	display: none !important;
}

@media screen and (max-width: 600px) {
    .film-details:not(.mobile) {
        display: none;
    }

    .mobile {
    	display: block !important;
    }

	.film-details h1 {
		font-size: 2rem;
		padding-top: 1rem;
		padding-bottom: 0;
	}

    .film-details {
    	margin: 0;
    	padding: 0;
    	width: 100%;
    }

    .film-details img {
    	width: 100%;
		margin: 1.5rem 0;
    }

    #content {
    	margin: 1rem;
    }

	.film-block {
		padding-top: 0;
		margin-top: 0;
		width: 88%;
	}
}
