body {
	margin: 0;
}

#content {
	margin: auto;
	text-align: center;
	width: 85%;
}

#main-header {
	font-size: 8rem;
	font-weight: 400;
}

#content input {
	width: 10%;
	min-width: 200px;
	margin-bottom: 0.4rem;
	font-size: 2.00rem;
	padding: 4px;
}

#town_input {
	font-size: 2.00rem;
	padding: 4px;
}

#search_button {
	margin-top: 2rem;
	font-size: 2.5rem;
	padding: 0.5rem 2rem;
	background-color: #11afed;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	transition: 0.1s all;
}

#search_button:hover {
	background-color: #0ca0dd;
}

#films {
	margin: auto;
	margin-bottom: 1rem;
	max-width: 1400px;
}

.film {
	display: flex;
	flex-flow: row nowrap;
	text-align: right;
	padding: 1.5rem;
	padding-left: 0;
	background-color: #fafafa;
	color: black;
	width: 100%;
	margin: 1rem auto;
	cursor: pointer;
	transition: 0.20s all;
	height: 450px;
}

.film:hover {
	background-color: #f7f7f7;
	padding: 1.65rem;
}

.film .film-text {
	padding: 0 2rem;
}

.film-header {
	font-size: 3.0rem;
	padding-top: 0;
	margin-top: 0;
}

.film-description {
	font-size: 2.0rem;
}

.film-details p {
	display: inline;
}

.film img {
	/*min-width: 25%;
	max-height: 60%;*/
	object-fit: contain;
	min-width:40%;
	max-height:100%;
}
