body {
	margin: 0;
}

#content {
	margin: auto;
	text-align: center;
	width: 85%;
}

#main-header {
	font-size: max(5rem, 400%);
	font-weight: 400;
}

#search-form {
	width: 90%;
	margin: auto;
}

#search-form input {
	width: 80%;
	/* min-width: 200px; */
	max-width: 250px;
	margin-bottom: 0.4rem;
	font-size: 1.25rem;
	padding: 4px;
}

#search_button {
	margin-top: 2rem;
	font-size: 1.5rem;
	padding: 0.5rem 2rem;
	background-color: #11afed;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	transition: 0.1s all;
}

#search_button:hover {
	background-color: #0ca0dd;
}

#films {
	margin: auto;
	margin-bottom: 1rem;
	max-width: 1400px;
}

.film {
	display: flex;
	flex-flow: row nowrap;
	text-align: right;
	padding: 1.5rem 0;
	background-color: #fafafa;
	color: black;
	width: 100%;
	margin: 1rem auto;
	cursor: pointer;
	transition: 0.20s all;
	height: 350px;
}

.mobile {
	display: none;
}

.film:hover {
	background-color: #f7f7f7;
	padding: 1.65rem;
}

.film .film-text {
	padding: 0 2rem;
}

.film-header {
	font-size: 2.5rem;
	padding-top: 0;
	margin-top: 0;
}

.film-description {
	font-size: 1.2rem;
}

.film-details p {
	display: inline;
}

.film img {
	/*min-width: 25%;
	max-height: 60%;*/
	object-fit: contain;
	min-width:40%;
	max-height:100%;
	padding-right: 1.5rem;
}

@media screen and (max-width: 600px) {
	.film:not(.mobile) {
		display: none;
	}
	.film {
		display: block;
		height: 450px;
		text-overflow: ellipsis;
	}
	.film img {
		width: 95%;
		max-height: 50%;
	}
	.mobile {
		display: block;
	}
	.film-header {
		font-size: 1.5rem;
	}
	.film-description {
		font-size: 1.2rem;
		text-overflow: ellipsis;
		overflow: hidden;
		max-height: 130px;
	}
}
