body {
	margin: 0;
}

#content {
	margin: auto;
	text-align: center;
	width: 85%;
}

#main-header {
	font-size: max(5rem, 400%);
	font-weight: 400;
	margin-bottom: 0;
}

#second-header {
	font-size: 1.7rem;
	font-weight: 200;
	margin-top: 0;
}

#header {
	margin-bottom: 4rem;
}

#date-search-form {
	width: 90%;
	margin: auto;
}

#date-search-form label {
	font-size: 1.1rem;
	padding-left: 10px;
}

#date-search-form input {
	width: 80%;
	/* min-width: 200px; */
	max-width: 250px;
	margin-bottom: 0.4rem;
	font-size: 1.25rem;
	padding: 4px;
}

.big-button {
	margin-top: 1rem;
	font-size: 1.5rem;
	padding: 0.5rem 2rem;
	background-color: #11afed;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	transition: 0.1s all;
}

.big-button:hover {
	background-color: #0ca0dd;
}

.big-button.disabled {
	background-color: #1b82ad;
	cursor: default;
}

#films {
	margin: auto;
	margin-bottom: 1rem;
	max-width: 1400px;
}

.film {
	text-align: right;
	padding: 1.5rem 0;
	background-color: #fafafa;
	color: black;
	width: 100%;
	margin: 1rem auto;
	/* cursor: pointer; */
	transition: 0.20s all;
	padding-bottom: 0;
}

.film.open {
}

.date-box {
	padding: 0.8rem 0;
	margin: 0.8rem 0;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #aaa;
}

.date-box p {
	margin: auto 0;
	padding-right: 1.3rem;
	display: inline;
}

.date-box a {
	display: inline;
	margin-left: 1.3rem;
	border: none;
	cursor: pointer;
	background-color: #6be88c;
	border-radius: 10px;
	font-weight: 400;
	font-size: 1rem;
	padding: 0.2rem 1rem;
	text-decoration: none;
	color: black;
}

.film-top {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

.film .expand {
	text-align: center;
	font-size: 2rem;
	color: #84a8d7;
	padding-top: 1.0rem;
}

.film .screenings {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
	padding: 0 1.5rem;
}

.film .screenings .big-button {
	margin: auto;
	font-size: 1.15rem;
}

.film .screenings .button-box {
	margin: auto;
	text-align: center;
	padding: 1rem 0;
}

.mobile {
	display: none;
}

.film:hover {
	background-color: #f7f7f7;
	/*padding: 1.65rem;*/
}

.film .film-text {
	padding: 0 2rem;
}

.film-header {
	font-size: 2.5rem;
	padding-top: 0;
	margin-top: 0;
}

.film-description {
	font-size: 1.2rem;
}

.film-details p {
	display: inline;
}

.film img {
	/*min-width: 25%;
	max-height: 60%;*/
	object-fit: contain;
	min-width: 40%;
	max-width: 40%;
	max-height: 350px;
	padding-right: 1.5rem;
}

#view_menu {
	display: flex;
	justify-content: cneter;
	margin: auto;
	width: 30%;
	margin-bottom: 3rem;
}

#view_menu div {
	flex-basis: 100%;
	text-align: center;
	padding: 1rem 0;
	border: 1px solid black;
	border-top: 0;
	border-right: 0;
	cursor: pointer;
	font-weight: 300;
}

#view_menu div:not(.selected):hover {
	font-weight: 400;
}

#view_menu div:last-child {
	border-left: 0;
}

#view_menu .selected {
	font-weight: 500;
}

.view.selected {
	display: block;
}

.view:not(.selected) {
	display: none;
}

#film-search-form {
	width: 75%;
	max-width: 300px;
	margin: auto;
}

#film_search_input {
	font-size: 1.5rem;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	outline: none;
	border-bottom: 1px black solid;
	background-color: var(--background-color);
	padding-right: 10px;
	padding-bottom: 5px;
	width: 100%;
}

#film_search_input:focus {
	outline: none;
	border-bottom: 2px black solid;
}

#film_autocomplete_container {
	width: 100%;
}

#film_autocomplete_container div {
	width: 100%;
	font-size: 1.3rem;
	padding-right: 10px;
	padding-bottom: 5px;
	background-color: white;
	text-align: right;
	border-bottom: 1px #aaa solid;
	cursor: default;
}

#film_autocomplete_container div:hover {
	background-color: #f5f5f5;
}

#film_autocomplete_container div.selected {
	background-color: #f0f0f0;
}

#no-films {
	margin-top: 3rem;
}

@media screen and (max-width: 600px) {
	.film:not(.mobile) {
		display: none;
	}

	.film {
		display: block;
		/* text-overflow: ellipsis; */
		text-align: center;
	}

	.film img {
		min-width: 80%;
		max-height: 200px;
		padding: 0;
	}

	.mobile {
		display: block;
	}

	.film-header {
		font-size: 1.5rem;
	}

	.film-description {
		font-size: 1rem;
		text-align: right;
		width: 100%;
		/* text-overflow: ellipsis;
		overflow: hidden; */
		transition: max-height 9.35s ease-out;
	}

	#view_menu {
		width: 100%;
	}

	.film .screenings {
		text-align: right;
		transition: max-height 0.35s ease-out;
	}

	.film .screenings .big-button {
		font-size: 1rem;
	}

	.film .screenings h2 {
		text-align: center;
	}

	.date-box {
		font-size: 0.9rem;
	}
}
