<h1>סרטים</h1>
{% for film in films %}
	<div class="film" data-film-index="{{ indices[loop.index - 1] }}">
		<img src="{{ film.image_url }}" referrerpolicy="no-referrer"/>
		<div class="film-text">
			<h2 class="film-header">{{ film.name }}</h2>
			<div class="film-description">
				{% if film.details.description != None %}
					<p>{{ film.details.description }}</p>
				{% endif %}
			</div>
			<div class="film-details">
				{% if film.details.director != None %}
					<p class="film-director">במאי: {{ film.details.director }} | </p>
				{% endif %}
				{% if film.details.cast != None %}
					<p class="film-cast">שחקנים: {{ film.details.cast }} | </p>
				{% endif %}
				{% if film.details.length != None %}
					<p class="film-length">אורך: {{ film.details.length }} | </p>
				{% endif %}
				{% if film.details.countries != None %}
					<p class="film-countries">ארצות: {{ film.details.get_countries_string() }} | </p>
				{% endif %}
				{% if film.details.language != None %}
					<p class="film-language">שפות: {{ film.details.language }} | </p>
				{% endif %}
				{% if film.details.year != None %}
					<p class="film-year">שנה: {{ film.details.year }} | </p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="film mobile" data-film-index="{{ indices[loop.index - 1] }}">
		<h2 class="film-header">{{ film.name }}</h2>
		<img src="{{ film.image_url }}" referrerpolicy="no-referrer"/>
		<div class="film-text">
			<div class="film-description">
				{% if film.details.description != None %}
					<p>{{ film.details.description }}</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}
