{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for("static", filename="css/film.css") }}">
{% endblock %}
{% block title %}
	{{ super() }} - {{ film.name }}
{% endblock %}
{% block content %}
	<div class="film-details card">
		<h1>{{ film.name }}</h1>
		<div class="film-block">
			<img class="wide-image" src="{{ film.image_url }}" referrerpolicy="no-referrer"/>
			<div class="film-text">
				{% if film.details.description != None %}
					<p class="film-description">{{ film.details.description | safe }}</p>
				{% endif %}
				<br>
				<br>
				{% if film.details.director != None %}
					<p class="film-director film-detail">במאי: {{ film.details.director }} |</p>
				{% endif %}
				{% if film.details.cast != None %}
					<p class="film-cast film-detail">שחקנים: {{ film.details.cast }} |</p>
				{% endif %}
				{% if film.details.length != None %}
					<p class="film-length film-detail">אורך: {{ film.details.length }} דקות |</p>
				{% endif %}
				{% if film.details.countries != None %}
					<p class="film-countries film-detail">ארצות: {{ film.details.get_countries_string() }} |</p>
				{% endif %}
				{% if film.details.language != None %}
					<p class="film-language film-detail">שפה: {{ film.details.language }} |</p>
				{% endif %}
				{% if film.details.year != None %}
					<p class="film-year film-detail">שנה: {{ film.details.year }} |</p>
				{% endif %}
			</div>
			<img class="tall-image" src="{{ film.image_url }}" referrerpolicy="no-referrer"/>
		</div>
	</div>
	<div class="film-details mobile card">
		<h1>{{ film.name }}</h1>
		<div class="film-block">
			<img src="{{ film.image_url }}" referrerpolicy="no-referrer"/>
			<div class="film-text">
				{% if film.details.description != None %}
					<p class="film-description">{{ film.details.description | safe }}</p>
				{% endif %}
				<br>
				<br>
				{% if film.details.director != None %}
					<p class="film-director film-detail">במאי: {{ film.details.director }} |</p>
				{% endif %}
				{% if film.details.cast != None %}
					<p class="film-cast film-detail">שחקנים: {{ film.details.cast }} |</p>
				{% endif %}
				{% if film.details.length != None %}
					<p class="film-length film-detail">אורך: {{ film.details.length }} דקות |</p>
				{% endif %}
				{% if film.details.countries != None %}
					<p class="film-countries film-detail">ארצות: {{ film.details.get_countries_string() }} |</p>
				{% endif %}
				{% if film.details.language != None %}
					<p class="film-language film-detail">שפה: {{ film.details.language }} |</p>
				{% endif %}
				{% if film.details.year != None %}
					<p class="film-year film-detail">שנה: {{ film.details.year }} |</p>
				{% endif %}
			</div>
		</div>
	</div>

	<div id="tickets">
		<h1>הקרנות</h1>
		{% for cinema_name in film.dates[town] %}
			<div>
				<div class="film-cinema-tag cinema-tag-{{ cinema_name.replace(" ", "").lower() }}">{{ name_translations[cinema_name] }}</div>
				{% for date in film.dates[town][cinema_name] %}
					<div class="date-box card">
						<p>{{ get_day_name(date) }} - {{ date.day }}/{{ date.month }} - {{ date.hour }}:{{ "%02d" % date.minute }}</p>
						<a href="{{ film.links[cinema_name] }}" target="_blank">הזמן</a>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
	<script src="{{ url_for("static", filename="javascript/film.js") }}"></script>
{% endblock %}
